/* inline-block */

a {
  font-size: 60px;
  background: red;
  margin: 10px;
  display: inline-block;
}

.box-1,
.box-2,
.box-3 {
  width: 200px;
  height: 100px;
  color: white;
}
.box-1 {
  background: red;
  padding: 20px;
  box-sizing: border-box;
}
.box-2 {
  background: blue;
}
.box-3 {
  background: green;
  padding: 20px;
}

/* go to the live site and click on inspect to see the google dev tools. You'll see that when adding padding, it can really mess up the layout because it adds it on top of the dimensions of the box width and height. 
This is why the box-sizing: border-box is important to use. It changes the sizing from the content box to the outside border box, making it easier to size and be consistent.
*/
/* to address this, use a default asterix at the beginning: 
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
*/

/* display: none
opacity:0
visibility: hidden; */

div {
  background: blue;
  margin: 10px;
  color: white;
}

.none {
  display: none;
  /* this takes the element totally out of the document */
}
.opacity-5 {
  opacity: 0.5;
}
.opacity {
  opacity: 1;
}
.opacity-0 {
  opacity: 0;
  border: 2px solid red;
  /* borders and everything become opaque */
}
.visibility {
  visibility: hidden;
  /* this keeps the element in the document (check devtools to confirm), but hides it from being displayed - same with opacity of 0 */
}
